file-upload-post-request/src/main/mule/file-upload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c5dc4777-098e-48ac-b8c7-81ec33684338" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="9f9fdeda-f526-4275-9c0e-4a3478222418" >
		<file:connection workingDir="E:\files" />
	</file:config>
	<flow name="file-uploadFlow" doc:id="f19f6104-012f-4322-aebe-3cb85f2b6db1" >
		<http:listener doc:name="Listener" doc:id="05a67a66-015d-4e48-b00c-581da4b76972" config-ref="HTTP_Listener_config" path="fileUpload"/>
		<set-variable value="#[attributes.'fileName' default (now() as String {format: 'yyyyMMdd-hhmmss'})]" doc:name="Set Variable" doc:id="c5faaaeb-f55a-4112-b256-2f85b3bd3cfb" variableName="filename"/>
		<file:write doc:name="Write" doc:id="86e12926-c69b-4f70-aa23-d51126f10374" config-ref="File_Config" path="#[vars.filename ++ '.xlsx']">
			<file:content ><![CDATA[#[%dw 2.0
input payload multipart/form-data
---
payload]]]></file:content>
		</file:write>
		<set-payload value="#[vars.filename ++ 'Uploaded Successfully !!']" doc:name="Set Payload" doc:id="81d216b3-8a88-4b7b-8040-d838eabfe788" />
	</flow>
</mule>
