db_mysql_procedure_ex/src/main/mule/db_mysql_procedure_ex.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dea2c7e4-c697-4a3b-aca3-b2ae9ae2124b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="669111fb-8d12-42ad-a4a0-ec248d8cd51d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="test" />
	</db:config>
	<flow name="Copy_of_pracFlow" doc:id="df2f0087-3241-4034-8d6d-7ff940bee992" >
		<http:listener doc:name="Copy_of_Listener" doc:id="200b8601-6ea7-43ce-a62f-e9d851a1c9e8" config-ref="HTTP_Listener_config" path="/proc" />
		<db:stored-procedure doc:id="fad68625-e471-4180-a7a4-9071110bdd9e" config-ref="Database_Config" doc:name="Copy_of_Stored procedure" >
			<db:sql ><![CDATA[CALL test.insert_pro(:name,:email,:mobile,:msg);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
 'name':attributes.queryParams.uname,
 'email':attributes.queryParams.email,
 'mobile':attributes.queryParams.mobile default 0 as Number 	
}]]]></db:input-parameters>
			<db:output-parameters >
				<db:output-parameter key="msg" type="VARCHAR" />
			</db:output-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="158b9808-8575-4902-8f0e-524295452e24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
