new-file-2-db/src/main/mule/new-updated-file-2-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<db:config name="local_database" doc:name="Database Config" doc:id="8412a05c-17e7-4697-8c21-c398cdd677b3" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="test" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c65b9634-fca2-4edf-8cca-45771da2ad2d" >
		<file:connection workingDir="E:\Mulesoft\Mule 4\MUFundamentals4.1_studentFiles_22sept2018\resources" />
	</file:config>
	<flow name="file-to-db" doc:id="c3195b14-33db-4eb7-ae71-5214958003e6" initialState="started">
		<file:listener doc:name="On New or Updated File" doc:id="19d64d0d-7473-475a-b076-77d5cb1dff3b" config-ref="File_Config" directory="input" watermarkMode="CREATED_TIMESTAMP" moveToDirectory="output" renameTo="#['accounts_' ++ (now() as String {format: &quot;MMddyyyy&quot;}) ++ '.csv']">
			<scheduling-strategy >
				<fixed-frequency frequency="60000"/>
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="179fe5ab-d7d3-4d73-b819-2bb06fee6547" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	firstName: payload01."Billing City",
	lastName: payload01."Billing Country",
	customer_id: payload01.BillingPostalCode as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="87350ec9-c9ad-4137-987d-b2f9533682bc" config-ref="local_database">
			<db:sql >insert into back_up values (:customer_id,:firstName,:lastName)</db:sql>
		</db:bulk-insert>
		<set-payload value="Done Inserting" doc:name="Set Payload" doc:id="597a15f9-781c-4c3f-bdba-0ed43bb5618b" />
	</flow>
	
	
	</mule>
